html,
body {
  height: 100vh;
}

body {
  font-size: 16px;
  line-height: 1.75;
  @extend %Rubik-500;
  display: flex;
  flex-direction: column;
  color: $accent2;
  background-color: #ffffff;
}

.main {
  flex-grow: 1;
}

.container,
.wrapper {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
}

.wrapper {
  max-width: 1800px;
}

.title {
  margin: 0 auto;
  @extend %DMSans-700;
  text-align: center;
  font-size: 36px;
  color: $default;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
}

.shop-link {
  position: relative;
  font-size: 15px;
  line-height: 12px;
  color: #fff;
  background-color: #a3bbc8;
  max-width: 200px;
  padding: 24px 28px;
  padding-right: 100px;
  outline: transparent;

  &::after {
    content: "";
    background-image: url("../images/arrow.svg");
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-position: right center;
    top: 43%;
    right: 20%;
    width: 25px;
    height: 11px;
    transition: right 0.3s;

  }

  &:hover {
    color: $hover;

    &::after {
      content: "";
      right: 11%;

    }
  }
}

.content-navi {
  display: flex;
  justify-content: center;
  margin-bottom: 83px;

  &__btn {
    padding: 0px;
    background-color: #fff;
    @extend %DMSans-500;
    border: none;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: $hover;
    }

    &+& {
      margin-left: 37px;
    }
  }
}
.logos--notmain{
  padding: 85px 0px;

  margin-top:0px !important;
  min-height: auto !important;
}
.logos__inner--notmain {
  margin-top: 0px !important;
}
.breadcrumbs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #edf1f4;
  padding: 32px 0px;
  &__title{
    color: #222933;
    font-size: 36px;
    @extend %Rubik-400;
  }
  &__list{
    display: flex;
  }
  &__item{
    position: relative;
    font-size: 14px;
    color: #8b8f94;
    &:last-child:before{
      position: absolute;
      content: '/';
      left: -13px;
    }
    &+&{
      margin-left:20px;
    }
  }
}
.form{
  display: flex;
  justify-content: center;
  padding-top: 120px;
  
  &__inner{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #a3bbc8;
    align-items: center;
    max-width: 470px;
    width: 100%;
    padding-bottom: 33px;
    margin-bottom: 33px;
  }
  &__label{
    width: 100%;
    &:first-child{
      margin-bottom: 26px;
    }
  }
  &__btn{
    background-color: #a3bbc8;
    padding: 18px 0px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    border: none;
    margin-top: 36px;
    margin-bottom: 32px;
    cursor: pointer;
  }
  &__input{
    display: block;
    width: 100%;
    min-height: 55px;
    margin-top: 7px;
  }
  &__help{
    display: flex;
    justify-content: space-between;
    width: 100%;
  
  }
}
.pagination {


  &__list {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__item {
    border: 1px solid $default2;
    min-width: 50px;
    height: 50px;
    color: $title;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:first-child,
    &:hover {
      background-color: $default2;
      color: #fff;
    }

    &:last-child {
      min-width: 74px;
   
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}