@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 53px 0px;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    &+& {
      margin-left: 33px;
    }
  }

  &__link {
    color: $accent;
    transition: color 0.3s;

    &:hover {
      color: $hover;
    }
  }
}

.navi {
  display: flex;
  justify-content: space-between;
  max-width: 317px;
  width: 100%;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url(../images/menu-line.svg);
    top: 8px;
    right: 50%;
    width: 1px;
    height: 32px;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 175px;
    width: 100%;
    border-radius: 50px;
    background-color: #fcd7b6;
  }

  &__link {
    background-repeat: no-repeat;
    max-width: 27px;
    width: 100%;
    height: 17px;
    position: relative;
  }

  &__link-num {
    position: absolute;
    top: -8px;
    right: -3px;
    background-color: #fff;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    @extend %DMSans-400;
    font-size: 10px;
    color: $title;
  }

  &__btn {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 0px;
    padding: 0px;
    border: none;
    background-color: #edf1f4;
    border-radius: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;

    &--left {
      background-image: url("../images/search.svg");
    }

    &--right {
      background-image: url("../images/button.svg");
      background-color: #a3bbc8;
    }
  }
}

.top-slider {
  &__wrapper {
    padding: 198px 75px 45px;
    background-color: #fcd7b6;
    background-image: url("../images/slider-bg.png");
    background-repeat: no-repeat;
    background-position: 84% 50%;
  }

  &__item {
    display: flex !important;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 209px;
  }

  &__content {
    max-width: 460px;
  }

  &__title {
    color: $title;
    font-size: 72px;
    line-height: 70px;
  }

  &__text {
    max-width: 372px;
    margin: 35px 0px 50px;
    line-height: 30px;
    font-size: 18px;
  }

  &__link {
    position: relative;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    background-color: #a3bbc8;
    max-width: 200px;
    padding: 24px 28px;
    padding-right: 100px;
    outline: transparent;

    &::after {
      content: "";
      background-image: url("../images/arrow.svg");
      background-size: cover;
      position: absolute;
      background-repeat: no-repeat;
      background-position: right center;
      top: 43%;
      right: 20%;
      width: 25px;
      height: 11px;
      transition: right 0.3s;
    }

    &:hover {
      &::after {
        content: "";
        right: 11%;
      }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      margin-left: 12px;

      button {
        font-size: 11px;
        line-height: 9px;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: $title;
        background-color: #fde3cc;
        transition: background-color 1s;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}

.benefits {
  &__list {
    display: flex;
    justify-content: space-around;
    padding: 41px 0px;
    background-color: #fef7f0;
  }

  &__item {
    position: relative;

    &--left::before {
      //почему картинки посветлели?
      content: url("../images/support.png");
    }

    &--mid::before {
      content: url("../images/delivery.png");
    }

    &--right::before {
      content: url("../images/payment.png");
    }

    &::before {
      position: absolute;
      left: -63px;
    }
  }
}

.products {
  padding: 46px 0 186px;

  &__navi {
    display: flex;
    justify-content: center;
    margin-bottom: 83px;
  }

  &__btns {
    padding: 0px;
    background-color: #fff;
    @extend %DMSans-500;
    border: none;

    &+& {
      margin-left: 37px;
    }
  }
 
  


  &__items {
    display: grid;
    min-height: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 41px;
    background-repeat: no-repeat;
    background-position: 50% 16%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    
    //как сделать трансишион на появление этих трех линков? везде попробовал -не работает
    &:hover{
  
      .products__links{
        display: flex;
      }
    }
    &-title {
      color: $title;
      @extend %DMSans-700;
    }

    &-subtitle {
      color: #a3bbc8;
    }
  }
   &__links {
     display: none;
    padding-bottom: 82px;
   }
  &__link {
    display: flex;
    background-color: #fefefe;
    border-radius: 50%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.1);
    z-index: 99;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;

    &:hover {
      background-color: #a3bbc8;
      path{
        fill:#fff;
      }
    }

    &+& {
      margin-left: 17px;
    }
  }
}
.footer{
 @extend %Rubik-400;
 font-size: 14px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: $accent2;
  padding-bottom: 66px;
   
  
  &__inner {
    padding-top: 18px;
  }

  &__contacts {
    max-width: 197px;
    font-style: normal;
    
  }

  &__subtitle {
    max-width: 245px;
    margin-bottom: 21px;
  }

  &__span {
    text-transform: uppercase;
  }

  

  &__item-link {
    color: $accent2;
    transition: color 0.3s;
    font-size: 15px;
    font-weight: 400;

    &:hover {
      color: #fcd7b6;
    }
  }

  &__column {
    //дизайнер криворукий? поэтому пришлось костыльно падинги юзать?
    padding-right: 88px;
  }

  &__column--fixed {
    max-width: 26%;
    padding-right: 0px;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $title2;
    padding-top: 11px;
    font-weight: 700;
  }

  &__form {
    @extend %DMSans-400;
  }

  &__input {
    background-color: #fef7f0;
    @extend %DMSans-400;
    max-width: 159px;
    border: none;
    padding: 5px 15px;
    outline: transparent;

    &::placeholder {
      color: #234969;
      font-size: 12px;
      @extend %DMSans-400;
    }
  }

  &__btn {
    border: none;
    max-width: 106px;
    width: 100%;
    padding: 6px 26px 6px 20px;
    color: #fff;
    background-color: #a3bbc8;
    outline: transparent;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 31px 0px;
  border-top: 1px solid $accent2;

  &__menu-list {
    display: flex;
  }

  &__menu-item+&__menu-item {
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid #dae4e9;
  }
}